.container{
    padding: 20px 300px;
    margin: 0px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.img-container{
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 10px;
    padding: 2px;
}
img{
    width: 300px;
    visibility: 0.5;
}
img:hover{
    cursor: pointer;
}
img:active{
    width: 302px;
}
.result-container{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.point{
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}
.computerPoint{
    margin-right: auto;
}
.playerPoint{
    margin-left: auto;
}
.result{
    width: 400px;
    background-color: lightblue;
    color: black;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}